.aim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 4rem;
}

.aim__tag {
    font-size: 2rem;
    font-weight: 600;
}

.aim__desc {
    margin-top: 1.8rem;
    width: 50%;
    margin-bottom: 2rem;
}

span {
    font-size: 2rem;
    font-weight: 500;
}


.aim__icons {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.aim__icons>* {
    margin-right: 4rem;
}

.aim__icons--img {
    width: 12rem;
    height: 12rem;
}

.aim__icons--tag {
    margin-top: 2rem;
    font-size: 1.4rem;
}

@media (max-width: 1280px) {
    .aim__icons {
        flex-direction: column;
    }

}