.header {
    padding: 1rem 6rem;
    background-color: #EBAB2D;
}

.header__menu {
    width: 1.5rem;
    height: 2rem;
}


.header__appName {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

a:hover {
    transform: scaleY(1.04);
    font-weight: 500;
}