.Register-container {
    position: fixed;
    display: flex;
    top: 0;
    width: 69%;
    bottom: 0;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 14rem;
    margin-left: 3rem;
}

.Register-content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 10%;
}

.Register-content-right {
    width: 40%;
}



.Register-content-left__heading {
    font-family: Georgia,
        "Times New Roman",
        Times,
        serif;
    font-size: 2rem;
    font-weight: 600;
}

.Register-content-right-heading {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 1REM;
    font-family: Georgia,
        "Times New Roman",
        Times,
        serif;
}

.Register-website__logo {
    font-size: 3rem;
    margin-left: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #112025;
}

.form-label {
    font-size: 1.2rem;
    font-weight: 600;
}

.form-input-btn {
    background-color: #112025;
    color: white;
    border: none;
    padding: 5px 46px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.9rem;
    font-weight: 700;
    width: 100%;
}

.form-input {
    border: none;
    width: 100%;
}

label {
    font-weight: 500;
    letter-spacing: 0.08rem;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] textarea {
    background-color: #f7f7f7;
    padding: 7px 10px;
    border-radius: 0.4rem;
}



.login__image {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;

}